@font-face {
  font-family: "나눔스퀘어";
  src: url(../../font/NanumSquareR.woff);
}

html {
  letter-spacing: -1px;
  color: #313131;
  font-family: "나눔스퀘어";
}

p {
  margin-bottom: 10px;
}

/* font */
.bold {
  font-weight: 900;
}

.font-color-sky {
  color: #6fbaf8;
}

/* button */
.btn {
  border-radius: 3px;
  padding: 10px 20px;
  border: none;
}

.btn-sky {
  background: #6fbaf8;
  color: #fff;
}

/* padding */
.pd-s {
  padding: 5px;
}

.pd-m {
  padding: 10px;
}

.pd-lg {
  padding: 20px;
}

.pd-xl {
  padding: 40px;
}

/* margin */
.mg-s {
  margin: 5px;
}

.mg-m {
  margin: 10px;
}

.mg-lg {
  margin: 20px;
}

.mg-xl {
  margin: 40px;
}

.mt-s {
  margin-top: 5px;
}

.mb-s {
  margin-bottom: 5px;
}

.mb-m {
  margin-bottom: 10px;
}

.mr-s {
  margin-right: 5px;
}

.mr-m {
  margin-right: 10px;
}

.mr-lg {
  margin-right: 20px;
}

.mr-xl {
  margin-right: 40px;
}
