/* PROFILE CONTAINER */
.profile-container {
  background: #f7f9fc;
  padding: 100px;
  max-width: 100%;
}

/* PROFILE BACKGROUND */
.profile-white-bg {
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding: 3%;
}

/* PROFILE HEADER */
.profile-header {
  max-width: 100%;
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.profile-introduce {
  flex-grow: 4;
}

.profile-img {
  height: 150px;
  display: block;
}

.profile-name {
  font-size: 23px;
}

.dividing-line {
  border-left: 2px solid #eee;
  flex-grow: 1;
}

.profile-introduce-detail {
  flex-grow: 1;
  margin-top: auto;
}

/* PROFILE-PROGRESS-BAR */
.profile-bar-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.profile-bar-title {
}

.profile-bar-title li {
  width: 100px;
  text-align: center;
}

.profile-bar-progress {
  height: 3px;
  border: none;
  background-color: rgb(209, 209, 209);
  position: relative;
}

.degree-of-progress {
  background-color: #6fbaf8;
  width: 100px;
}

/* PROFILE SECTION */
