* {
  box-sizing: border-box;
  color: rgb(151, 151, 151);
}

i {
  color: rgb(111, 111, 111);
}

.main-container {
  height: 100vh;
  background: rgb(235, 235, 235);
  overflow: hidden;
}

.main-nav {
  width: 130px;
  background-color: rgb(65, 70, 181);
  z-index: 1;
  display: flex;
  flex-direction: column;
  transform: translateX(-90px);
  transition: all 1s;
  position: fixed;
  height: 100vh;
}

.main-nav:hover {
  transform: translateX(0);
}

.main-nav i {
  transform: translateX(45px);
  color: #fff;
  margin: 0 auto;
  margin-top: 30px;
}

header {
  background: white;
  width: 100%;
  height: 80px;
  padding-left: 80px;
  box-shadow: 0 3px 3px rgba(190, 190, 190, 0.268);
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-header-search {
  margin-top: 20px;
  position: relative;
  height: 40px;
}

input {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #eee;
  font-size: 17px;
  width: 200px;
  outline: none #eee;
  transition: all 0.7s;
  height: 100%;
}
input:focus {
  outline: 3px solid rgba(49, 120, 243, 0.5);
  box-shadow: 0 0 5px rgba(49, 120, 243);
  width: 280px;
}

button {
  width: 40px;
  padding: 10px;
  border: none;
  background: rgb(51, 51, 51);
  color: white;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
  left: -42px;
  top: -1px;
  height: 100%;
}

.fa-magnifying-glass {
  color: #fff;
}

.main-header-notification {
  display: flex;
  align-items: center;
  padding: 20px;
  position: absolute;
  right: 0;
}

.main-header-notification i {
  margin: 10px;
}

.main-header-icon {
  position: relative;
  margin-right: 10px;
}

.badge {
  position: absolute;
  width: 15px;
  height: 15px;
  padding-top: 2px;
  border-radius: 3px;
  background: rgb(173, 7, 7);
  text-align: center;
  font-size: 5px;
  font-weight: bold;
  color: white;
  top: 0;
  left: 20px;
}

/* DASHBOARD */
.main-dashboard {
  padding-left: 10px;
  width: 95%;
  margin: 0 auto;
}

.main-dashboard h1 {
  font-size: 25px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

.dashboard-card-container {
  display: flex;
  justify-content: space-around;
}

.card {
  position: relative;
  min-width: 23%;
  background-color: #fff;
  height: 120px;
  box-shadow: 2px 2px 5px rgb(209, 209, 209);
  border-radius: 5px;
  padding: 30px;
  margin-right: 10px;
  margin: 0 auto;
  margin: 10px;
  position: relative;
}

.card::after {
  content: '';
  padding: 2px;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: rgb(38, 193, 214);
}

.card:nth-child(2)::after {
  content: '';
  padding: 2px;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: rgb(37, 127, 224);
}

.card:nth-child(3)::after {
  content: '';
  padding: 2px;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: rgb(61, 57, 176);
}

.card:nth-child(4)::after {
  content: '';
  padding: 2px;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: rgb(94, 38, 214);
}

.card-content {
  display: flex;
  align-items: center;
}

.card-text {
  width: 100%;
}

.card-text h2 {
  color: rgb(51, 51, 51);
  margin-bottom: 10px;
  font-size: 15px;
}

.card-text p {
  font-size: 18px;
  font-weight: bold;
  color: rgb(51, 51, 51);
  margin-top: 15px;
}

.card-icon {
  font-size: 30px;
  padding-left: 10px;
  padding-top: 5px;
}

/* GRAPH & Tasks */

.main-section {
  width: 95%;
  margin: 0 auto;
  padding-left: 10px;
  margin-top: 20px;
  display: flex;
  margin-top: 20px;
}

.graph-container {
  box-shadow: 0 3px 3px rgba(190, 190, 190, 0.268);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 20px;
  width: 70%;
  margin: 10px;
}

.graph-container h2 {
  color: rgb(51, 51, 51);
  padding: 15px 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
}

.graph {
  width: 100%;
  padding: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  background: #fff;
}

.tasks-container {
  width: 40%;
  margin: 10px;
}

.tasks-container h2 {
  color: rgb(51, 51, 51);
  padding: 15px 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
}

.task {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background: #fff;
  padding: 20px;
  border: 1px solid #eee;
}

.task p {
  padding-top: 2px;
  color: rgb(51, 51, 51);
}

.badge-blue {
  background: rgb(18, 104, 225);
  padding: 4px 8px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 15px;
}
